<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%- include('./utils/header') %>
  </head>
  <body class="uk-background-default">
    <%- include('./utils/body') %> <%- include('./utils/footer') %>
  </body>
</html>
