<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>urlshortener - @madebyallanbahr</title>
<link
  rel="stylesheet"
  href="https://unpkg.com/franken-wc@0.0.2/dist/css/neutral.min.css"
/>
<style>
  * {
    color: #fff;
  }
</style>
